@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.left_side_bar{
    font-family: 'Inter', sans-serif;
    width: 15%;
    padding: 50px 0;
    color: white;
    background-color: #1717175f;
    margin: 3vh 10px;
    height: 94vh;
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    text-align: center;
    flex-direction: column;
    
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 0 15px
}

.nav-items a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #3f3f3f5e;
    width: 100%;
    transition: all 0.3s ease-in-out;
    cursor: pointer
}

.nav-items a:hover{
    background-color: #3f3f3fa3;
}

.nav-items .active{
    background-color: #3f3f3f;
}

#logoutDiv{
    width: 100%;
    padding: 15px;
}

#logoutDiv form button{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #d9534f;
    width: 100%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    outline: none;
    border: none;
}

#logoutDiv form button:hover{
    background-color: #d9534fa3;
}

#contentDiv{
    width: 85%;
    height: 100vh;
}

#nav-notes{
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 50px;
}

#nav-credentials{
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 50px;
}

#nav-files{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 50px;
}

.page-header{
    font-size: 90px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    color: white;
    margin: 10px;
}

 .files-info{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: white;
    margin: 10px;
}

#nav-files form{
    width: 100%;
    text-align: right;
}

#nav-files form label{
    padding: 10px 5%;
    background-color: #42725a59;
    border-radius: 15px;
    font-size: 20px;
    color: white;
    font-family: "Inter", sans-serif;
    cursor: pointer;
}
#fileTable{
    width: 100%;
    margin-top: 20px;
}
.item-container{
    width: 100%;
    background-color: #1717175f;
    padding: 50px;
    border-radius: 20px;
}

.item-container p{
    color: white;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;

}

.item-container .header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px
}
.button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.button-container a:first-child{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #42725a59;
}

.button-container a:last-child{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #d9534f;
}

/*
    Notes Container
*/
.notes-button-container{
    width: 100%;
    text-align: right;
}

.notes-button-container button{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #42725a59;
    width: 20%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    outline: none;
    border: none;
}

.notes-button-container button:hover{
    background-color: #42725aa3;
}

.note-header-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.notesTable{
    width: 100%;
    margin-top: 20px;
}

.note-container{
    width: 100%;
    background-color: #1717175f;
    padding: 50px;
    border-radius: 20px;
}

.note-header{
    color: white;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.note-description{
    color: white;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 20px;
}

.notes-actions-container{
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px
}

.notes-actions-container button{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #42725a59;
    width: 50%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    outline: none;
    border: none;
}

.notes-actions-container button:hover{
    background-color: #42725aa3;
}

.notes-actions-container a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #d9534f;
    width: 50%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    outline: none;
    border: none;
    text-align: center;
}

.notes-actions-container a:hover{
    background-color: #d9534fa3;
}

.fade{
    display: none;
}

/*
    Note Modal
*/

.modal{
    z-index: 3;
    position: fixed;
    width: 50%;
    left: 25%;
    right: 25%;
    height: 50%;
    top: 25%;
    bottom: 25%;
}

.fade{
    display: none;
}